* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

fieldset {
	padding: 5px 5px 5px 5px;
}

h1 a:link, a:active, a:visited {
	color:white;
	text-decoration: none;
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#headerWrapper { 
    height: 90px;
    background: #3b5998;
    border-bottom: 1px solid #000000;
}

#headerWrapperMember { 
    height: 60px;
    background: #9bbb59;
    border-bottom: 1px solid #000000;
}
#headerWrapperCommunity { 
    height: 60px;
    background: #4f81bd;
    border-bottom: 1px solid #000000;
}

#header {
    padding : 10px;
    color : #8aadbb;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#headerMember {
    padding : 10px;
    color : #ffffff;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


#header h1 {
    color:white;
}

#signin {
    float: right;
    margin-top: -20px !important;
}

#signin .label {
    color : white;
    font-weight : bold;
    font-size:1.1em;
    padding : 5px 5px 5px 0px;
    
}
#signin input[type='text'], input[type='password'] {
    
    font-size:1em;    
    padding : 2px 2px 2px 2px;
}
.clearfix {
    clear: both;
}

.searchWrapper {
    margin-left: 250px;
    margin-top: -25px;
}

.searchWrapper .searchbox {
    color:gray;
    font-size: 1.2em;
    font-family: Arial;
    padding : 2px 5px 2px 5px;
    width: 400px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 1024px;
	padding: 0 0 50px;
	height: 1%;
	position: relative;
        margin-left: auto;
        margin-right: auto;
}


#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#middleContainer {
	width: 100%;
	
}


#container {
	width: 100%;
	float: left;
	overflow: hidden;
}



.content {
	padding: 5px 5px 5px 5px;
}

#contentLogin {
	padding: 10px 460px 0 10px;
        background-image:url('../img/ph_map.png');        
        width:583px;
        height: 490px;
}

#RegisterCommunity {
    background: #68a54c;
    color: white;
    
    border : 1px solid #3b6e22; 
    border-top-style: outset;
    
    font-size: 1.5em;
    font-weight: 100;
    font-family:  Arial;
    padding: 5px 5px 5px 5px;
    margin-top:5px;
    margin-left: 133px;
}
#RegisterCommunity:active {
    background: #609946;
}

#GoSearch {
    background: #000000;
    color: white;    
    border : 1px solid #ffffff; 
    border-top-style: outset;    
    font-size: 1.5em;
    font-weight: 100;
    font-family:  Arial;   
    padding: 3px 5px 3px 5px;
    margin-top:5px;
}
#GoSearch:active {
    background:gray;
}

#SearchInput {
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
    border : 1px solid #BDC7D8;
    width:300px;
    margin-top:5px;
    color:gray;
}
#FindCommunityContainer {
    margin-top: 140px;
    margin-left: 160px;
        
}
#FindCommunityContainer .label {
    color: #3b6e22; 
    /* color: #00a513; */
    font-weight:normal;
    font-size: 1.5em;
    margin-left:175px;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
}

#sideRightLogin {
	float: left;
	margin-right: -3px;
	width: 450px;
	margin-left: -450px;
	position: relative;
	background: #efefef; 
        height: 510px;
}

#sideRightLogin input[type='text'] {
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
    border : 1px solid #BDC7D8;
    width:95%;
    font-family : Tahoma;
}

#sideRightLogin input[type='submit'] {
    font-size: 1.5em;
    padding: 5px 5px 5px 5px;
   
    
}
#sideRightLogin .label {
    padding: 5px 5px 5px 5px;
}

#sideRightLogin fieldset {
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    font-size: 1.1em;
    border-style:  solid;
}

/* Footer
-----------------------------------------------------------------------------*/
#footerWrapper {
    background: #efefef;
    /* border-top: 1px solid gray; */
    height: 51px;	
    margin: -60px auto 0;
    min-width: 1000px;
    height: 60px;		
    
    color:gray;
    font-size:.9em;
    width:100%;
}
#footer {
    width:1024px;
    margin-left: auto;
    margin-right: auto;     
    padding: 15px 5px 15px 5px;
    text-align: center;
}



/* new template from buics 
-----------------------------------------------------------------------------*/
.locationStrip {
	width: 1024px;
	padding: 10px 10px 10px 10px;
	height: 1%;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    background:#efefef;
    font-weight: bold;
    font-size:1.2em;
    font-family : Arial; 
        
}
#containerRegion {
	width: 1024px;
	padding: 10px 0 50px 0;
	height: 1%;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    /* background:blue; */
        
}
#leftRegion {
    float: left;   
    width:20%;
    padding: 5px 5px 5px 0px;
    /* background:#efefef; */
}

#middleRegion {
    float: left;   
    width: 58% ;
    padding: 5px 5px 5px 5px;
}

#rightRegion {
    float: left;
    width:20%;
    /* background:#efefef; */       
}

#middleRegionExtended {
    float: left;   
    width: 78% ;
    padding: 5px 5px 5px 5px;
}

#middleRegionExtended a:link, a:active, a:visited {
	color : gray;
}







#containerRegion legend {
	font-size:1.2em;
	font-weight:bold;
	/* border:1px solid green; */
	padding: 0.2em 0.5em;
	
}

#containerRegion fieldset {
	margin-bottom: 10px;
		
}






.menu{
    width:100%;
    
    /*
position:fixed;
top:0;
left:0;
width:100%;
font:13px/27px Arial,sans-serif;
color:#3366cc;
height:30px;
background:#2D2D2D;
    */
}
.menu a:hover{
background-color:#676767;
color:#CCCCCC;
}
.menu a{
text-decoration:none;
padding:6px 8px 7px;
color:#CCCCCC;
outline:none;
}
.menu ul{
list-style:none;
margin:0;
padding:0 0 0 10px;
}
.menu ul li{
padding:0;
float:left;
}
.menu ul li ul li{
padding:0;
float:none;
margin:0 0 0 0px;
width:100%;
}
.menu ul li ul{
position:absolute;
border:1px solid #C3D1EC;
/*box-shadow*/
-webkit-box-shadow:0 1px 5px #CCCCCC;
-moz-box-shadow:0 1px 5px #CCCCCC;
box-shadow:0 1px 5px #CCCCCC;
margin-top:-1px;
display:none;
padding:0px 16px 0px 0;
}
.active ul{
display:block !important;
}
.single ul{
display:block !important;
}
.active a{
background-color:white;
border:1px solid #C3D1EC;
border-bottom:0;
/*box-shadow*/
-webkit-box-shadow:0 -1px 5px #CCCCCC;
-moz-box-shadow:0 -1px 5px #CCCCCC;
box-shadow:0 -1px 5px #CCCCCC;
display:block;
height:29px;
padding:0 8px 0 8px;
position:relative;
z-index:1;
color:#3366CC;
}
/*Styling for the link of the current page*/
.current a{
background-color:#2D2D2D;
border-top:0px solid #DD4B39;/*red ribbon at top*/
border-bottom:0;
display:block;
height:25px;
padding:0 8px 0 8px;
position:relative;
z-index:1;
color:#FFFFFF;
font-weight:bold;
}
.active a:hover{
background-color:white;
color:#3366CC;
}
.active ul a:hover{
background-color:#e4ebf8;
}
.active ul a{
border:0 !important;
/*box-shadow*/
-webkit-box-shadow:0 0 0 #CCCCCC;
-moz-box-shadow:0 0 0 #CCCCCC;
box-shadow:0 0 0 #CCCCCC;
border:0;
width:100%;
}
.arrow{
border-color:#C0C0C0 transparent white;
border-style:solid dashed dashed;
margin-left:5px;
position:relative;
top:10px;
}
.mid-line{
background-color:#FFF;
border-top:1px solid #e5e5e5;
font-size:0;
}






/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/* Table */
table {
	border: 1px solid #efefef;
	width: 100%;
	padding: 5px 5px 5px 5px;
}
